{% extends 'base.html.twig' %}

{% block title %}Edit Poche{% endblock %}

{% block body %}
    <h1>Edit Poche</h1>

    {{ include('conteneur/poche/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_conteneur_poche_index') }}">back to list</a>

    {{ include('conteneur/poche/_delete_form.html.twig') }}
{% endblock %}
