<div class="progress mb-0">
	<div class="progress-bar bg-danger" role="danger" style="width: {{ 100- (remplissage - poid)/remplissage*100|round }}%" aria-valuenow="{{ 100- (remplissage - poid)/remplissage *100|round }}" aria-valuemin="0" aria-valuemax="100">{{ (100- (remplissage - poid)/remplissage *100)|round }}% R</div>
	<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{  (remplissage - poid)/remplissage *100|round }}%" aria-valuenow="{{ (remplissage - poid)/remplissage *100|round }}" aria-valuemin="0" aria-valuemax="100">{{  ((remplissage - poid)/remplissage *100)|round }}
		% V</div>
</div>
