<div class="mb-2">
	<div class="row">
		<div
			class="col-12 text-sm-center form-inline">
			{# <label class="form-inline mb-3">
							Affiche
							<select id="demo-show-entries" class="form-control form-control-sm ml-1 mr-1">
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="20">20</option>
								<option value="{{filieres|length}}">Tous</option>
							</select>
							filières
						</label> #}
			<button type="button" data-page-size="10">10</button>
			<button type="button" data-page-size="20">20</button>
			<button type="button" data-page-size="50">50</button>
			<button type="button" data-page-size="100">100</button>
			<button type="button" data-page-size="200">200</button>
		</div>
	</div>
</div>
