<table id="demo-foo-row-toggler" class="table table-bordered toggle-circle mb-0" data-paging="true" data-filtering="true" data-sorting="true" data-editing="true" data-state="true">
	{% include "etat_actuel_prod/partials/table/_thead.html.twig" only %}
	{% include "etat_actuel_prod/partials/table/_filieres.html.twig" with {id: id, filieres: filieres} only %}
	{% include "etat_actuel_prod/partials/table/_tfoot.html.twig" only %}
</table>
