.git
.github
.vscode
.zenflow
.devcontainer
node_modules
vendor
var
assets/node_modules
*.log
.DS_Store
Thumbs.db
.env
.env.local
.env.dev
.env.test
*.md
README*
composer.lock
package-lock.json
yarn.lock
.phpunit.result.cache
.phpcs.xml.dist
.phpunit.xml.dist
webpack.config.js

