<div class="row">
	<div class="col-sm-12">
		<div class="card-box">
			<h4 class="header-title">Triggers</h4>
			<p class="sub-header">
				<div class="mb-2">
					<div class="row">
						<div class="col-12 text-sm-center form-inline">
							<div class="form-group mr-2">
								<select id="demo-foo-filter-status" class="custom-select custom-select-sm">
									<option value="">Tri par Réf. Filière</option>
									<option value="active">Tri par Capacité Filière</option>
									<option value="active">Tri par Remplissage Filière</option>
								</select>
							</div>
							<div class="form-group mr-2">
								<select id="demo-foo-filter-status" class="custom-select custom-select-sm">
									<option value="">Croissant</option>
									<option value="active">Decroissant</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="mb-2">
					<div class="row">
						<div
							class="col-12 text-sm-center form-inline">
							{# <label class="form-inline mb-3">
																																																																																																		Affiche
																																																																																																		<select id="demo-show-entries" class="form-control form-control-sm ml-1 mr-1">
																																																																																																			<option value="5">5</option>
																																																																																																			<option value="10">10</option>
																																																																																																			<option value="15">15</option>
																																																																																																			<option value="20">20</option>
																																																																																																			<option value="{{filieres|length}}">Tous</option>
																																																																																																		</select>
																																																																																																		filières
																																																																																																	</label> #}
							<button type="button" data-page-size="10">10</button>
							<button type="button" data-page-size="20">20</button>
							<button type="button" data-page-size="50">50</button>
							<button type="button" data-page-size="100">100</button>
							<button type="button" data-page-size="200">200</button>
						</div>
					</div>
				</div>

			</p>
			<table id="demo-foo-row-toggler" class="table table-bordered toggle-circle mb-0">
				<thead>
					<tr>
						<th data-toggle="true">
							Réf. Filière
						</th>
						<th>
							Remplissage Filière (%)
						</th>
						<th>
							Capacité Filière (u)
						</th>

						<th>
							Places Remplies (u)
						</th>
						<th data-hide="phone">
							Places Vides (u)
						</th>
						<th data-hide="all">
							Taille Filière (m)
						</th>
						<th data-hide="all">
							Nombre de place totale
						</th>
						<th data-hide="all">
							Nombre de place vide
						</th>
						<th data-hide="all">
							Nombre de place remplis
						</th>
						<th data-hide="all">
							Nombre de place corde
						</th>
						<th data-hide="all">
							Nombre de place corde huitre
						</th>
						<th data-hide="all">
							Nombre de place corde moule
						</th>
						<th data-hide="all">
							Nombre de place corde lanterne
						</th>
						<th data-hide="all">
							Date Min MAE
						</th>
						<th data-hide="all">
							Segments
						</th>
					</tr>
				</thead>
				<tbody>
					{% set pos = 0 %}
					{% for filiere in filieres %}
						<tr>
							<td>{{filiere.nomFiliere}}</td>
							<td>{% include "etat_actuel_prod/partials/_progress.html.twig" with {remplissage: loop.index} only %}</td>
							<td>{{ totalEmplacements(parcID,filiere.id)  }}</td>
							<td>0</td>
							<td>0</td>
							<td>{{ filiere.segments|map(segment => "#{segment.longeur}")|reduce((l, v) => l + v)  }}</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>
								{% include "segment/etatActuelProd.html.twig" with {pos: pos,filiere:filiere} only %}
								{# <div class="row">
																																																																									<div class="col-md-12">
																																																																										<div class="dd custom-dd dd">
																																																																											<ol class="dd-list">
																																																																												<li class="dd-item" data-id="1">
																																																																													<div class="dd-handle">Item 1</div>
																																																																												</li>
																																																																												<li class="dd-item" data-id="2">
																																																																													<div class="dd-handle">Item 2</div>
																																																																												</li>
																																																																												<li class="dd-item" data-id="3">
																																																																													<div class="dd-handle">Item 3</div>
																																																																													<ol class="dd-list">
																																																																														<li class="dd-item" data-id="4">
																																																																															<div class="dd-handle">Item 4</div>
																																																																														</li>
																																																																														<li class="dd-item" data-id="5" data-foo="bar">
																																																																															<div class="dd-nodrag">Item 5</div>
																																																																														</li>
																																																																													</ol>
																																																																												</li>
																																																																											</ol>
																																																																										</div>
																																																																									</div>
																																																																									<!-- end col -->
																																																																								</div>
																																																																								<!-- end row --> #}
							</td>
						</tr>
					{% endfor %}
				</tbody>

				<tfoot>
					<tr class="active">
						<td colspan="6">
							<div class="text-right">
								<ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
							</div>
						</td>
					</tr>
				</tfoot>

			</table>
		</div>
		<!-- end card-box -->
	</div>
	<!-- end col -->
</div>
<!-- end row -->
