{% for emplacement in emplacements %}
	{% if not loop.first and loop.index0 is divisible by(10) and not loop.last %}
	</tr>
{% endif %}
{% if loop.first or loop.index0 is divisible by(10) %}
	<tr>
	{% endif %}
	<td>{{emplacement.place}}</td>
	{% if loop.last %}
	</tr>
{% endif %}{% endfor %}
