{% extends 'base.html.twig' %}
{% block body %}
	{% include "partials/_pageTitle.html.twig" with {parcID: parcID,menu:'Tableau de bord'|trabs} only %}
	<div class="row">
		{{ render(path('app_parc_statistique', {parcId: parcID})) }}
		{{ render(path('app_filiere_statistique', {parcId: parcID})) }}
	</div>
	{% for conteneur in conteneurs %}
		{{ render(path('app_conteneur_'~conteneur|lower~'_statistique', {parcID: parcID,conteneur: conteneur})) }}
	{% endfor %}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('counterup') }}
{% endblock %}
