{% extends 'base.html.twig' %}
{% block body %}
	{# TODO: A supprimer #}

	{% include "partials/_pageTitle.html.twig" with {parc: parc,menu:'Tableau de bord'|trabs} only %}
	<div class="row">
		{{ render(path('app_parc_statistique', {parc: parc})) }}
		{{ render(path('app_filiere_statistique', {parc: parc})) }}
	</div>
	{% for conteneur in conteneurs %}
		{{ render(path('app_conteneur_'~conteneur|lower~'_statistique', {parc: parc,conteneur: conteneur})) }}
	{% endfor %}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('counterup') }}
{% endblock %}
