<h6 class="font-weight-medium {{class}}">
	{% if span is defined %}
		<span class="d-block py-1">{{span}}</span>
	{% endif %}
	{% if title is defined %}
		{{ title}}
	{% endif %}

	{% if icon is defined %}
		<a href="javascript: void(0);" class="font-18 {{icon}}">
			<i class="float-right mdi mdi-plus-circle"></i>
		</a>
	{% endif %}
</h6>
