{% for flotteur in flotteurs %}
    <li class="dd-item" data-id="16">
        <div class="col-xs-1 col-sm-1 col-md-1">
            {{ flotteur.nomFlotteur }}
        </div>
        {{ render(controller(
        'App\Emplacement:findByFlotteur',
        { 'flotteur': flotteur }
        )) }}
        {# {% include 'Emplacement/Render/listEmplacementIndexRender.html.twig' %}#}
    </li>
{% endfor %}
{#
{% for flotteur in segment.flotteurs %}
    <p class="flotteur">
        {{ flotteur.getNomFlotteur }}
        {% include 'Emplacement/Render/listEmplacementIndexRender.html.twig' %}

    </p>
{% endfor %}
#}