<a href="javascript: void(0);" class="text-reset notification-item pl-3 mb-2 d-block">
	<i class="mdi mdi-checkbox-blank-circle-outline mr-1 text-{{link.alert}}"></i>
	<span class="mb-0 mt-1">{{link.message}}</span>
</a>
