{% extends 'base.html.twig' %}

{% block title %}New Lanterne{% endblock %}

{% block body %}
    <h1>Create new Lanterne</h1>

    {{ include('conteneur/lanterne/_form.html.twig') }}

    <a href="{{ path('app_conteneur_lanterne_index') }}">back to list</a>
{% endblock %}
