<div class="col-md-3 col-xl-2">
	<div class="widget-rounded-circle card-box">
		<div class="row">
			<div class="col-6">
				<div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
					<i class="{{ icon }} font-22 avatar-title text-warning"></i>
				</div>
			</div>
			<div class="col-6">
				<div class="text-left">
					<h3 class="text-dark mt-1">
						<span data-plugin="counterup">{{ total }}</span></h3>
					
				</div>
			</div>
		</div><p class="text-muted mb-1 text-truncate">{{ text|raw }}</p>
		<!-- end row-->
	</div>
	<!-- end widget-rounded-circle-->
</div>
<!-- end col-->
