{% extends 'base.html.twig' %}
{% block body %}
  <!-- Form row -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-3">Wizard With Form Validation</h4>

          <div id="rootwizard">
            <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-3">
              <li class="nav-item" data-target-form="#parc">
                <a href="#first" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 active">
                  <i class="mdi mdi-account-circle mr-1"></i>
                  <span class="d-none d-sm-inline">Parc</span>
                </a>
              </li>
              <li class="nav-item" data-target-form="#poche">
                <a href="#second" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                  <i class="mdi mdi-face-profile mr-1"></i>
                  <span class="d-none d-sm-inline">Poche</span>
                </a>
              </li>
              <li class="nav-item" data-target-form="#resultat">
                <a href="#third" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                  <i class="mdi mdi-face-profile mr-1"></i>
                  <span class="d-none d-sm-inline">Resultat</span>
                </a>
              </li>
              <li class="nav-item" data-target-form="#confirmation">
                <a href="#forth" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                  <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                  <span class="d-none d-sm-inline">Confirmation</span>
                </a>
              </li>
            </ul>

            <div class="tab-content mb-0 b-0 pt-0">
              <div class="tab-pane active" id="first">
                <form id="accountForm" method="post" action="#" class="form-horizontal">
                  <div class="row">
                    <label class="col-lg-2 control-label" for="ChoixDuParc">choix Corde</label>
                    <div class="col-lg-10" id="choixParcCorde">
                      <div>
                        TTF<input class="required col-lg-2" type="radio" value="1" name="parc" aria-required="true" />
                      </div>
                      <div>
                        Golden Fish<input class="required col-lg-2" type="radio" value="2" name="parc" aria-required="true" />
                      </div>
                      <div>
                        ASC<input class="required col-lg-2" type="radio" value="3" name="parc" aria-required="true" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-lg-2 control-label" for="listeCorde">Corde</label>
                    <div class="col-lg-10" id="listeCorde">
                      <select name="corde" id="valeurCorde" class="required col-lg-4" aria-required="true">
                        <option>choisir Un Parc</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-lg-2 control-label">Nombre de Corde en Stock</label>
                    <div class="col-lg-10" id="nbrCorde"></div>
                  </div>
                  <div class="row">
                    <label class="col-lg-2 control-label" for="dateAssemblage">date d'assemblage</label>
                    <div class="col-lg-10" id="dateAssemblage">
                      <input class="required col-lg-4" type="date" name="dateAssemblage" aria-required="true" />
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-lg-2 control-label" for="nbrCordeAssemblage">Nombre de Corde a assemblé</label>
                    <div class="col-lg-10" id="nbrCordeAssemblage">
                      <input class="required col-lg-4" type="number" name="nbrCordeAssemblage" aria-required="true" />
                    </div>
                  </div>
                </form>
              </div>

              <div class="tab-pane fade" id="second">
                <form id="profileForm" method="post" action="#" class="form-horizontal">
                  <div class="row">
                    <label class="col-lg-2 control-label" for="ChoixDuParcPoche">choix Corde</label>
                    <div class="col-lg-10" id="ChoixDuParcPoche">
                      <div>
                        TTF<input class="required col-lg-2" type="radio" value="1" name="parcP" aria-required="true" />
                      </div>
                      <div>
                        Golden Fish<input class="required col-lg-2" type="radio" value="2" name="parcP" aria-required="true" />
                      </div>
                      <div>
                        ASC<input class="required col-lg-2" type="radio" value="3" name="parcP" aria-required="true" />
                      </div>
                    </div>
                  </div>
                  <!-- end row -->
                </form>
              </div>

              <div class="tab-pane fade" id="third">
                <section id="steps-uid-0-p-2" role="tabpanel" aria-labelledby="steps-uid-0-h-2" class="body current" aria-hidden="false" style="display: block; left: 0px;">
                  <div class="form-group clearfix">
                    <div class="col-lg-12">
                      <ul class="list-unstyled w-list">
                        <li>Affichage Exemple</li>
                      </ul>
                    </div>
                  </div>
                  <div class="nicescroll p-20" style="height: 320px; overflow: hidden; outline: none;" tabindex="5000">
                    <div id="dateAss">le 2025-01-01</div>
                    <div id="creation">Assemblage de 1</div>
                    <div class="timeline-2">
                      <div id="affichageParcCorde">CORDE M 3M</div>
                      <div class="time-item">
                        <div class="item-info">
                          <p>
                            <input type="hidden" class="contenu" name="contenu[]" value="20 " />
                            <input type="hidden" class="contenu" name="contenu[]" value="10 " />10<input name="contenu[]" class="contenu" type="hidden" value="1 " />POCHES HUITRES cree le<input name="contenu[]" class="contenu" type="hidden" value="2017-07-14 " />2017-07-14 de<input name="contenu[]" class="contenu" type="hidden" value="40 " />40 u/p
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="ascrail2000" class="nicescroll-rails" style="width: 8px; z-index: auto; cursor: default; position: absolute; top: 0px; left: -8px; height: 320px; display: none; opacity: 0;">
                    <div style="position: relative; top: 0px; float: right; width: 6px; height: 0px; background-color: rgb(152, 166, 173); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;"></div>
                  </div>
                  <div id="ascrail2000-hr" class="nicescroll-rails" style="height: 8px; z-index: auto; top: 312px; left: 0px; position: absolute; cursor: default; display: none; opacity: 0;">
                    <div style="position: relative; top: 0px; height: 6px; width: 0px; background-color: rgb(152, 166, 173); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px; left: 0px;"></div>
                  </div>
                </section>
              </div>
              <div class="tab-pane fade" id="forth">
                <div class="form-group clearfix">
                  <div class="col-lg-12">
                    <input id="acceptTerms-2" name="acceptTerms2" type="checkbox" class="required" aria-required="true" />
                    <label for="acceptTerms-2">Je Confirme L'assemblage effectué</label>
                  </div>
                </div>
              </div>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item disabled">
                  <a href="javascript: void(0);" class="btn btn-secondary">Previous</a>
                </li>
                <li class="next list-inline-item float-right">
                  <a href="javascript: void(0);" class="btn btn-secondary">Next</a>
                </li>
              </ul>
            </div> <!-- tab-content -->
          </div> <!-- end #rootwizard -->
        </div>
        <!-- end card-body -->
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
{% endblock %}
