{% extends 'base.html.twig' %}
{% block body %}
  <!-- Form row -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          {# <h4 class="header-title">Form row</h4>
					<p class="text-muted font-13">
						You may also swap
						<code class="highlighter-rouge">.row</code>
						for
						<code class="highlighter-rouge">.form-row</code>, a variation of our standard grid row that overrides the default column gutters for tighter and more compact layouts.
					</p>
 #}
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4" class="col-form-label">Le stock qui contient vos articles</label>
                <select id="ss_fmbbundle_preparationlanterne_libStock" name="ss_fmbbundle_preparationlanterne[libStock]" required="required" class="form-control" style="display: block;">
                  <option value="1">Stock Parc FMB</option>
                </select>
              </div>
            </div> <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4" class="col-form-label">choix du lanterne</label>
                <select id="ss_fmbbundle_preparationlanterne_nomLanterne" name="ss_fmbbundle_preparationlanterne[nomLanterne]" required="required" class="form-control" style="display: block;">
                  <option value="LANTERNE 10P">LANTERNE 10P</option>
                  <option value="LANTERNE 7P">LANTERNE 7P</option>
                  <option value="LANTERNE 8P">LANTERNE 8P</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="inputAddress" class="col-form-label">nombre de lanterne non utilisé en stock</label>
              <input type="text" id="ss_fmbbundle_preparationlanterne_quantiterEnStock" name="ss_fmbbundle_preparationlanterne[quantiterEnStock]" required="required" class="form-control" readonly="true" value="0" style="display: block;" />
            </div>

            <div class="form-group">
              <label for="inputAddress2" class="col-form-label">Date de la Préparation des lanternes</label>
              <input type="text" id="ss_fmbbundle_preparationlanterne_date" name="ss_fmbbundle_preparationlanterne[date]" required="required" class="form-control inputmask" placeholder="dd/mm/yyyy" />
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity" class="col-form-label">article</label>
                <select id="ss_fmbbundle_preparationlanterne_refArticle" name="ss_fmbbundle_preparationlanterne[refArticle]" class="form-control">
                  <option value="57f7b1e198786">NAISSAIN HUITRES</option>
                  <option value="57f7b215a37d7">NAISSAIN MOULES</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState" class="col-form-label">lot</label>
                <select id="ss_fmbbundle_preparationlanterne_numeroSerie" name="ss_fmbbundle_preparationlanterne[numeroSerie]" class="form-control" style="display: block;">
                  <option value="LOT NH 28-32 JAUNE">LOT NH 28-32 JAUNE</option>
                  <option value="LOT NH 35 JAUNE">LOT NH 35 JAUNE</option>
                  <option value="LOT NH33 ROUGE">LOT NH33 ROUGE</option>
                  <option value="LOT NH34 BLEU">LOT NH34 BLEU</option>
                  <option value="LOT NH36 BLEU">LOT NH36 BLEU</option>
                  <option value="Lot NH37 Rouge">Lot NH37 Rouge</option>
                  <option value="Lot NH38 Orka VERTE">Lot NH38 Orka VERTE</option>
                  <option value="Lot NH39 Orka BLEUE">Lot NH39 Orka BLEUE</option>
                  <option value="Lot NH40 FRN ROUGE">Lot NH40 FRN ROUGE</option>
                  <option value="Lot NH41 Orka Verte">Lot NH41 Orka Verte</option>
                  <option value="Lot NH42 FRN Blanche">Lot NH42 FRN Blanche</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip" class="col-form-label">Densiter</label>
                <input type="number" readonly="true" value="0" class="form-control" id="totalqte" style="display: block;" />
                <input type="text" id="ss_fmbbundle_preparationlanterne_qte" name="ss_fmbbundle_preparationlanterne[qte]" required="required" class="form-control" onblur="validation($('#ss_fmbbundle_preparationlanterne_quantiterEnStock').val(),$('#totalqte').val(),this.value,$('#ss_fmbbundle_preparationlanterne_nombre').val())" style="display: block;" />
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress2" class="col-form-label">nombre de lanterne a fabriquer</label>
              <input type="text" id="ss_fmbbundle_preparationlanterne_nombre" name="ss_fmbbundle_preparationlanterne[nombre]" required="required" class="form-control" onblur="validation($('#ss_fmbbundle_preparationlanterne_quantiterEnStock').val(),$('#totalqte').val(),$('#ss_fmbbundle_preparationlanterne_qte').val(),this.value)" />
            </div>

            <button type="submit" class="btn btn-primary waves-effect waves-light">Fabriqué</button>
          </form>
        </div>
        <!-- end card-body -->
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
{% endblock %}
