<li class="nav-item">
	<a class="nav-link py-2 {% if li.active %}active{% endif %}" data-toggle="tab" href="#{{li.link}}" role="tab">
		<i class="mdi {{li.icon}} d-block font-22 my-1"></i>
	</a>
</li>
