<footer class="footer">
	<div class="container-fluid">
		<div class="row">
						{{ include('partials/footer/_copyright.html.twig') }}
						{{ include('partials/footer/_links.html.twig') }}			
		</div>
	</div>
</footer>
