<div class="right-bar">
	<div
		data-simplebar class="h-100">

		<!-- Nav tabs -->
		{{ include('partials/sidebar/_nav.html.twig') }}


		<!-- Tab panes -->
		<div class="tab-content pt-0">
			{{ include('partials/sidebar/_chat-tab.html.twig') }}
			{{ include('partials/sidebar/_tasks-tab.html.twig') }}
			{{ include('partials/sidebar/_settings-tab.html.twig') }}
		</div>

	</div>
	<!-- end slimscroll-menu-->
</div>
