<div class="topnav shadow-lg">
	<div class="container-fluid">
		<nav class="navbar navbar-light navbar-expand-lg topnav-menu">

			<div class="collapse navbar-collapse" id="topnav-menu-content">
				{{ knp_menu_render('main', {'allow_safe_labels': true}) | raw}}
			</div>
			<!-- end .collapsed-->
		</nav>
	</div>
	<!-- end container-fluid -->
</div>
