{% extends 'base.html.twig' %}

{% block body %}
	<div id="parc-id" data-id="{{ parc }}"></div>
	{% include "partials/_pageTitle.html.twig" with {parc: parc,menu:'Etat.actuel.produc'|trans} only %}
	{{ render(path('app_filiere', {parc: parc.id})) }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('etat_actuel_prod') }}
{% endblock %}
